<div class="nav">
  <img class="logo" src="../images/emberitas_white-55bd77cf88dc436a6ebd9efa77512f5e.png">
</div>

<div class="content">
  {{outlet}}
</div>

<h1 style={{colorStyle}}>Welcome To Ember, {{model.name}}!</h1>
<form {{action "setColor" newColor on="submit"}}>
  <label for="new-color">What's your favorite color?</label>
  {{input id="new-color" value=newColor}}
  <button type="submit">Submit</button>
</form>
