<h1 style="color:{{color}};">Welcome To Ember, {{name}}!</h1>
<form {{action "setColor" newColor on="submit"}}>
  <label for="new-color">What's your favorite color?</label>
  {{input id="new-color" value=newColor}}
  <button type="submit">Submit</button>
</form>

{{outlet}}