<h1 style={{colorStyle}}>Welcome To Ember, {{model.name}}!</h1>
<form {{action "setName" newName on="submit"}}>
  <label>What is your new name?</label>
  {{input value=newName}}
  <button type="submit">Submit</button>
</form>

<form {{action "setColor" newColor on="submit"}}>
  <label>What is your new favorite color?</label>
  {{input value=newColor}}
  <button type="submit">Submit</button>
</form>

{{someInformation}}